.wrapper {
    padding: 20px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.left {
    width: 450px;
    display: inline-block;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}
input {
    height: 30px;
}
textarea {
    width: 242px;
    height: 100px;
}
.btn {    
    padding: 5px ;   
}
.right {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}
.box {
    width: 300px;
    height: 135px;
    border: 3px solid #333;    
    margin-bottom: 20px;
    text-align: center;
}
.info {
    margin-top: 45px;
}
a {
    text-decoration: none;
    color: blueviolet;
}
.description {
    display: none;
    color: red;
    padding: 20px;    
    font-size: 19px;
}
