*{margin: 0;
padding: 0;}
body{background-color: #1b345d;}
a {color: #58bac2;}
h1{color: #ffffff;}
p {color: #ffffff;}
ul li {
  color: #ffffff;
  margin-left: 20px;
}
.wrapper{
  width: 970px;
  margin-right: auto;
  margin-left: auto;
}
.top{
  width: 950px;
  background-color: #cf3036;
  border-radius: 10px;
  padding: 10px;
 margin: 10px 0 10px 0;

}

.inside {
  color: #ffffff;
  margin-left: 20px;
}
.left {
  background-color: #2a7c8c;
  width: 176px;
  float: left;
  border-radius: 10px;
  padding: 20px;
}
.right{
  background-color: #0e1822;
  float: right;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.right p {
  padding: 5px;
}
.right ul li {
  padding: 5px 0 5px 0;
}
.different{
  color: #5872f3;
}
.footer{
  clear: both;
  background-color: #5d6573;
  border-radius: 10px;
  padding: 10px;

}
